<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watch Store VN</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <%- include('./layouts/header') %>
    <div class="container mx-auto mt-5 px-4">
      <h1 class="text-center text-3xl font-bold mb-4 uppercase underline underline-offset-8">watches</h1>
      <!-- Search and Filter Form -->
      <form id="searchForm" class="mb-4" method="GET" action="/">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <input type="text" id="searchInput" name="search"
              class="appearance-none block w-full h-[45px] bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              placeholder="Search for watches..." value="<%= typeof search !== 'undefined' ? search : '' %>"
              style="height: 45px;" />
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 h-[50px]">
            <select id="brandFilter" name="brand"
              class="block appearance-none w-full  bg-gray-200 border border-gray-200 text-gray-700 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              style="height: 45px;">
              <option value="">All Brands</option>
              <!-- Loop through your brands and create options -->
              <% brands.forEach(brand=> { %>
                <option value="<%= brand._id %>" <%=brand._id.toString()===selectedBrand ? 'selected' : '' %>><%=
                    brand.brandName %>
                </option>
                <% }); %>
            </select>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 ">
            <button type="submit"
              class="w-full shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
              style="height: 45px;">Search</button>
          </div>
        </div>
      </form>
      <div class="flex flex-wrap -mx-4 mt-4">
        <!-- Loop through your watches and display them -->
        <% if (watches.length===0) { %>
          <div class="flex text-center py-10 justify-center items-center ">
            <h2 class="text-xl font-semibold">No items found.</h2>
          </div>
          <% } else { %>
            <% watches.forEach(watch=> { %>
              <div class="w-full md:w-1/3 px-4 mb-4 h-[600px] transform transition duration-500 hover:scale-105">
                <div class="flex flex-col bg-white rounded-lg shadow-md overflow-hidden h-full">
                  <div class="w-full h-64 overflow-hidden">
                    <img src="<%= watch.image %>" class="w-full h-full  object-cover" alt="<%= watch.watchName %>" />
                  </div>
                  <div class="p-4 flex-grow">
                    <a href="/watch/<%= watch._id %>">
                      <h5 class="text-md font-bold mb-2 text-black">
                        <%= watch.watchName %>
                      </h5>
                    </a>
                    <p class="text-gray-700"><strong>Brand:</strong>
                      <%= watch.brand.brandName %>
                    </p>
                    <p class="text-gray-700 "><strong>Price:</strong> <span class="text-red-500">
                        <%= watch.formattedPrice %>
                      </span></p>
                    <!-- Add more details you want to display -->
                  </div>
                </div>
              </div>
              <% }); %>
                <% } %>
      </div>
      <nav class="flex items-center gap-x-4 min-w-max justify-center py-4">
        <% if(page> 1) { %>
          <a class="text-gray-500 hover:text-gray-900 p-2 inline-flex items-center md:mr-8 mr-1"
            href="/?page=<%= page - 1 %>&search=<%= search %><%= selectedBrand ? '&brand=' + selectedBrand : '' %>">
            <span>Back</span>
          </a>
          <% } %>
            <% for(let i=1; i <=pages; i++) { %>
              <a class="w-10 h-10 <%= i === page ? 'bg-blue-500 text-white' : 'bg-transparent text-blue-600' %> p-2 justify-center inline-flex items-center rounded-full transition-all duration-150 hover:bg-blue-600 hover:text-blue-600"
                href="/?page=<%= i %>&search=<%= search %>">
                <%= i %>
              </a>
              <% } %>
                <% if(page < pages) { %>
                  <a class="text-gray-500 hover:text-gray-900 p-2 inline-flex items-center md:ml-8 ml-1"
                    href="/?page=<%= page + 1 %>&search=<%= search %><%= selectedBrand ? '&brand=' + selectedBrand : '' %>">
                    <span>Next</span>
                  </a>
                  <% } %>
      </nav>
    </div>
    <%- include('./layouts/Footler') %>
</body>

</html>