<%- include('./layouts/header') %>
<h1>Profile Member</h1>
<section class="vh-50" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="https://i.pinimg.com/564x/1b/dd/65/1bdd654181279a6ecf6ff2b6cfce9fac.jpg"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 80px"
              />
              <h5>Marie Horwitz</h5>
              <p>Web Designer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mt-2">Information</h6>
                  <a href="/editProfile" class="mx-5">Edit Profile</a>
                </div>

                <hr class="mt-0 mb-4" />
                <% if (member) { %>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted"><%= member.membername %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Name</h6>
                    <p class="text-muted"><%= member.name %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Password</h6>
                    <p class="text-muted"><%= member.password %></p>
                  </div>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Year of Birth</h6>
                    <p class="text-muted"><%= member.YOB %></p>
                  </div>
                </div>
                <% } else { %>
                <p>No member information available.</p>

                <% } %>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('layout/footer') %>
