<%- include('./layouts/header') %>
<h1 class="text-3xl font-bold text-center my-5"><%= member.name %> Profile</h1>
<section class=" bg-gray-100 py-20">
  <div class="container mx-auto px-4 h-full">
    <div class="flex justify-center items-center h-full">
      <div class="w-full lg:w-3/4 mb-4"> <!-- Adjusted width here -->
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
          <div class="flex">
            <div class="w-full md:w-1/3 bg-gradient-to-r from-blue-500 to-blue-700 text-white text-center p-4">
              <img src="https://ih1.redbubble.net/image.5407575156.6953/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" alt="Avatar" class="mx-auto rounded-full h-20 w-20 my-2">
              <h5 class="text-lg"><%= member.membername %></h5>
              <p class="text-sm">Web Designer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="w-full md:w-2/3">
              <div class="p-4">
                <div class="flex justify-between items-center">
                  <h6 class="text-lg">Information</h6>
                  <a href="/editProfile" class="text-blue-500 hover:text-blue-700 transition duration-300 ease-in-out">Edit Profile</a>
                </div>

                <hr class="my-4" />
                <% if (member) { %>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-1/2 px-2 mb-3">
                    <h6 class="text-md">Username</h6>
                    <p class="text-gray-600"><%= member.membername %></p>
                  </div>
                  <div class="w-1/2 px-2 mb-3">
                    <h6 class="text-md">Name</h6>
                    <p class="text-gray-600"><%= member.name %></p>
                  </div>
                  <div class="w-1/2 px-2 mb-3">
                    <h6 class="text-md">Password</h6>
                    <p class="text-gray-600">****</p>
                  </div>
                </div>
                <hr class="my-4" />
                <div class="flex flex-wrap -mx-2">
                  <div class="w-1/2 px-2 mb-3">
                    <h6 class="text-md">Year of Birth</h6>
                    <p class="text-gray-600"><%= member.YOB %></p>
                  </div>
                </div>
                <% } else { %>
                <p>No member information available.</p>
                <% } %>
                <div class="flex">
                  <a href="#!" class="text-blue-600 hover:text-blue-800 mr-3"><i class="fab fa-facebook-f"></i></a>
                  <a href="#!" class="text-blue-400 hover:text-blue-600 mr-3"><i class="fab fa-twitter"></i></a>
                  <a href="#!" class="text-pink-600 hover:text-pink-800"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./layouts/Footler') %> <!-- Corrected footer include statement -->