<%- include('layout/header') %>
<div class="container mt-5">
  <h1 class="text-center">Watches</h1>
  <!-- Search and Filter Form -->
  <form id="searchForm" class="mb-4" method="GET" action="/watches">
    <div class="container">
    <div class="row">
      <div class="col-sm">
        <input
          type="text"
          id="searchInput"
          name="query"
          class="form-control"
          placeholder="Search for watches..."
          value="<%= typeof query !== 'undefined' ? query : '' %>"
        />
      </div>
      <div class="col-sm">
        <select id="brandFilter" name="brand" class="form-control">
          <option value="">All Brands</option>
          <!-- Loop through your brands and create options -->
          <% brands.forEach(brand => { %>
          <option value="<%= brand._id %>" <%= brand._id.toString() === selectedBrand ? 'selected' : '' %>><%= brand.brandname %></option>
          <% }); %>
        </select>
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-primary ">Search</button>
      </div>
    </div>
  </div>
  </form>
  <div class="row">
    <!-- Loop through your watches and display them -->
    <% watches.forEach(watch => { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="<%= watch.image %>"
          class="card-img-top fixed-size-img"
          alt="<%= watch.watchName %>"
        />
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title"><%= watch.watchName %></h5>
            <a href="/watches/<%= watch._id %>" class="text-info mx-1">
              <i class="fa-solid fa-circle-info"></i>
            </a>
          </div>
            <p class="card-text"><strong>Brand:</strong> <%= watch.brand.brandname %></p>
            <p class="card-text"><strong>Price:</strong> <%= watch.price %></p>          
          <!-- Add more details you want to display -->
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<%- include('./layouts/Footler') %>
