<%- include('./layouts/headerAdmin') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<!-- Start of the flex container -->
<div style="display: flex; flex-direction: column; min-height: 100vh">
  <!-- Reduced the py-20 to py-5 to decrease the gap -->
  <div class="bg-gray-100 py-5 h-auto flex-grow">
    <div class="container">
      <!-- List Brands -->
      <h1 class="mb-8 text-2xl font-semibold">Brands</h1>
      <div class="text-right mb-4">
        <a href="/admin/brand/create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Create Brand
        </a>
      </div>
      <table class="table-auto w-full border-collapse border">
        <thead>
          <tr class="bg-gray-200">
            <th class="border px-4 py-2">ID</th>
            <th class="border px-4 py-2">Brand Name</th>
            <th class="border px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% brands.forEach(brand => { %>
          <tr>
            <td class="border px-4 py-2"><%= brand._id %></td>
            <td class="border px-4 py-2"><%= brand.brandName %></td>
            <td class="border px-4 py-2">
              <!-- Update Brand Button -->
              <a href="/admin/brands/edit/<%= brand._id %>?brandname=<%= brand.brandName %>" class="text-blue-500 mx-1">
                <i class="fas fa-edit"></i>
              </a>
              <a href="/admin/brands/<%= brand._id %>" class="text-red-500 mx-1">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Footer -->
  <%- include('./layouts/Footler') %>
</div>
<!-- End of the flex container -->