<%- include('./layouts/headerAdmin') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="bg-gray-100">
  <div class="container mx-auto py-20">
    <h4 class="mb-8 text-2xl font-semibold">Watches</h4>
     <!-- Create Watch Button -->
     <div class="text-right mb-4">
      <a href="/admin/watches/create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Create Watch
      </a>
    </div>
    <table class="table-auto w-full border-collapse border">
      <thead>
        <tr class="bg-gray-200">
          <th class="border px-4 py-2">ID</th>
          <th class="border px-4 py-2">Watch Name</th>
          <th class="border px-4 py-2">Image</th>
          <th class="border px-4 py-2">Price</th>
          <th class="border px-4 py-2">Brand</th>
          <th class="border px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% watch.forEach(watch => { %>
        <tr>
          <td class="border px-4 py-2"><%= watch._id %></td>
          <td class="border px-4 py-2"><%= watch.watchName %></td>
          <td class="border px-4 py-2">
            <img
              src="<%= watch.image %>"
              alt="<%= watch.watchName %>"
              class="w-12"
            />
          </td>
          <td class="border px-4 py-2"><%= watch.price %></td>
          <td class="border px-4 py-2"><%= watch.brand %></td>
          <td class="border px-4 py-2">
             <!-- Update Watch Button -->
             <a href="/admin/watches/edit/<%= watch._id %>" class="text-blue-500 mx-1">
              <i class="fas fa-edit"></i> <!-- This is the edit icon -->
            </a>
            <!-- Delete Watch Button -->
            <a href="/admin/watches/<%= watch._id %>" class="text-red-500 mx-1">
              <i class="fas fa-trash-alt"></i> <!-- This is the delete icon -->
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('./layouts/Footler') %>
