<%- include('./layouts/headerAdmin') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="bg-gray-100">
  <div class="container mx-auto py-20">
    <!-- List Members -->
    <h1 class="mb-8 text-2xl font-semibold">Members</h1>
    <table class="table-auto w-full border-collapse border">
      <thead>
        <tr class="bg-gray-200">
          <th class="border px-4 py-2">ID</th>
          <th class="border px-4 py-2">Member Name</th>
          <th class="border px-4 py-2">Name</th>
          <th class="border px-4 py-2">YOB</th>
        </tr>
      </thead>
      <tbody>
        <% member.forEach(member => { %>
        <tr>
          <td class="border px-4 py-2"><%= member._id %></td>
          <td class="border px-4 py-2"><%= member.membername %></td>
          <td class="border px-4 py-2"><%= member.name %></td>
          <td class="border px-4 py-2"><%= member.YOB %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('./layouts/Footler') %>
